@font-face {
    font-family:GothamLight;
    src: url(../font/GothamLight.ttf);
    src: url(../font/GothamBook.ttf);
}
/* ###modal-botao-sobre#### */
.modal.sobre{
    background-image: url(../img/IMG-20180726-WA0016.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.sobre .modal-body p{
    text-align: justify;
}
.btn{
    background-color: #30394B
}
/* ############## */

main{
    overflow: hidden;
}

.mapa {
    width: 450px;
    height: 300px;
    margin-left: 5px
}

.modal-body p {
    text-align: center;
}

body {
    background-color: #FF4040;
}

header{
    display: block;
    overflow: hidden;
    clear: both;
}

nav {
    padding-top: 20px;
    padding-right: 40px;

}
nav img{
    width: 400px;
    float: left;
    margin-left: 40px;
}
.nav-link{
    font-size: 1.8rem;
    color: white;
    
}

.nav {
    padding-top: 20px;
}

.nav-link:hover{
    background-color: #9b1111;
    color:white;
    border-radius: 10px;
}

.font-weight-extrabold{
    font-weight: bolder
}

/* Botões */

.botao{
    width: 200px;
    text-align: center;
    color: white;
    z-index: -1
}

#b-1{
    position: relative;
    top: 30px;
    left: 47%;
}

#b-2{
    position: relative;
    top: -125px;
    left: 65%;
}

#b-3{
    position: relative;
    top: -265px;
    left: 83%;
}

.botao-p{
    font-size: 1.5rem !important;
    float: none !important;
    display: inline !important;
    padding-top: 0px !important;
}

.botao a{
    display: block;
    margin: auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #3c485b;
}

.botao img{
    display: block;
    height: 100%;
    margin: auto;
    padding: 25% 0;
    z-index: +2
    
}

/* Apresentação */
.apresentacao p{
    color: white;
    font-size: 2.2rem;
    display: block;
    float: right;
    text-align: right;
    padding-top: 70px;
    padding-bottom: 60px;
    font-family: GothamLight;
}

.apresentacao{
    border-bottom: 100px solid #30394b;
}

.onda{
    z-index: -1;
    position: relative;
    background-image: url(../img/onda.png);
    height: 315px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: -235px;
}

.apresentacao-conteudo {
    overflow: hidden;
    padding-right: 50px;
    
}

#boneco{
    
    display: block;
    width: 355px;
    position: relative;
    float: left;
    margin-top: 50px;
    margin-left: 40px;
}
.video{
    height: 600px;
    width: 100%;
    padding: 0px 40px;
    background-color: #30394b;
}

.central{
    background-color: white;
    margin-left: 50px;
    display: block;
    border-radius: 11px;
}

.central2 {
    height: 380px;
    border-radius: 10px;
}

.video-conteudo {
    width: 356px;
    float: left;
    margin-top: 84px;
    margin-left: 45px;
    border-radius: 10px;
}
.video-conteudo h1{
    font-family:GothamLight;
    src: url(../font/Gotham-Bold.otf);
    font-size: 2.6rem
}
.video-conteudo p{
    font-family:GothamLight;
    src: url(../font/Gotham-Bold.otf);
    font-size: 1.4rem;
    font-weight: bold;
}

.play{
    width: 600px;
    height: 400px;
    background-color: #FF4040;
    float: left;
    border-radius: 10px;
    margin-top: -50px;
    margin-left: -50px;
}

.play1{
    display: none;
}

.sublinhado{
    border-top: #FF4040 solid 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 238px;
}
iframe{
    width: 600px;
    height: 400px;
    display: block;
    border: black solid 3px;
    border-radius: 10px;
}

#parte-quiz{
    height: 100%;
    clear: both;
    background-color: white;
}
#meio{
    height: 600px;
    padding: 2% 0% 0% 0%;
}
#azul{
    width: 77%;
    margin: 5% 10% 13% 9%;
    display: block;
    background-color: #30394b;
    color: white;
    height: 65%;
    border-radius: 10px;
    border: 1px solid #30394b;
}
#esquerda{
    display: block;
    float: left;
    width: 35%;
}
.texto{
    width: 320px;
    margin: 0px 0px 0px 60px;
    text-align: right;
}
#primeiro{
    margin-top: 80px;
}
#linha{
    width: 100px;
    background-color: #FF4040;
    height: 5px;
    margin: 15px 0px 15px 280px
}
#quiz{
    width: 65%;
    background-color: #FF4040;
    display: block;
    height: 380px;
    margin-left: 200px;
    border-radius: 10px;
    margin: 40px 0px 0px 430px;
}

#esquerda h1{
    font-size: 2.8rem;
    font-weight: normal
}

#esquerda p{
    font-size: 1.5rem;
    font-weight: lighter
}

#baixo{
    color: white;
    text-decoration-line: none;
    padding: 1% 0%;
    height: 80px;
    background-color: #FF4040
}
#baixo p{
    display: block;
    float: left;
    overflow: hidden;
    font-size: 2.3rem;
    margin-left: 9%;
    font-weight: normal;
}
#baixo a{
    display: block;
    float: right;
    overflow: hidden;
    background-color: #30394b;
    margin-right: 110px;
    padding: 2px 70px;
    font-size: 2.3rem;
    color: white;
    border-radius: 10px;
    margin-right: 9%;
}
#baixo a:hover{
    background-color: #191d25;; 
    font-size: 2.5rem;
    margin-right: 8%;
    text-decoration-line: none
}

/* ------------------- PASSOS DOACAO ---------------- */

#passos-doacao {
    height: 800px;
    background-color: #30394b;
    width: 100%;
    clear: both;
}

#passos-doacao h1 {
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 3.5rem;
}

.faixa {
    height: 6px;
    width: 140px;
    margin: auto;
    background-color: #FF4040;
    margin-bottom: 30px;
}

#cards {
    margin: auto;
    width: 1160px;
    text-align: center;
}

#card-1, #card-2, #card-3 {
    background-color: white;
    border-radius: 10px;
    float: left;
}

#card-1, #card-3 {
    width: 350px;
    height: 450px;
    margin-top: 45px;
    font-size: 2rem;
    padding: 25px;
}

#card-2 {
    width: 400px;
    height: 540px;
    margin: 0 30px;
    font-size: 2.3rem;
    padding: 25px;
}

#passos-doacao img {
    margin: auto;
    display: block;
}

#card-1 img {
    width: 180px;
    margin-top: 40px;
}

#card-2 img {
    width: 220px;
}

#card-2>p {
    margin-bottom: 0;
}

#card-3 img {
    width: 150px;
}

/*VOCE SABIA*/

.vcsabia{
    display: block;
    background-color: #30394b;
    overflow: hidden;
    height: 840px;
    clear: both;
}

#h1{
   display: block;
   width: 248px;
   margin:auto;
   margin-top:45px;
}
#h1 h1 {
    font-size: 3.5 rem;
    color: white;
    text-align: center;
}
.gotas {
    overflow: hidden;
    width:1150px;
    margin:auto;
    margin-top:20px;
}
.gotas div:not(:last-child){
    float:left;
    margin-right: 50px;
}
.gotas div:last-child{
    float:right;
}

.gota{
    background-image: url("../img/GOTS.png ");
    width:150px; 
    height: 250px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.gota img{
    display: block;
    width: 70px;
    height: 70px;
    margin: auto;
    margin-top: 108px;
    border: 2px solid white;
    padding: 10px 0 10px 0;
    border-radius: 35px;
    padding: 3px;
}
.gotas img:hover{
    width: 80px;
    height: 80px;
    transition: 100ms;  
    margin-top: 103px;
    border: 2px solid rgb(68, 25, 25);
}
.gotas img:active{
    border: 7px solid rgb(68, 25, 25);   
}

#curios{
    width: 1079px;
    background-color: white;
    height: 320px;
    border-radius: 10px;
    position: absolute;
}
#caixa-red {
    width: 500px;
    height: 339px;
    background-color: #FF4040;
    border-radius: 8px;
    display: block;
    float: right;
    position: relative;
    margin-top: 31px;
    background-image: url("../img/imagens/0001.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
#div_maior {
    overflow: hidden;
    margin: auto;
    width: 1150px;
    margin-top: 50px;
    height: 395px;
}
#curios-conteudo{
    margin-top: 40px;
    margin-left: 40px;
    width: 570px;
    height: 240px;
}
#faixa-conteudo{
    height: 6px;
    width: 140px;
    background-color: #FF4040;
    float: left;
}
#curios-p{
    font-size: 23px;
    font-weight: 300;
    margin-top: 30px;
}


/* rodapé */
footer div:first-child{
    background-image: url("../img/logo_fundo.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

footer img{
    display: block;
    width: 40%;
    margin: auto;
    padding: 9% 0;
}

footer div:last-child{
    display: block;
    color: white;
    width: 100%;
    text-align: center;
    overflow: hidden;
    padding: 15px 0;
}

footer small{
    font-size: 2rem;
}

@media screen and (max-width:1200px){
    #boneco{
        display:none;  
    }

    .apresentacao{
        border-bottom: 0;
    }

    .apresentacao p{
        text-align: center;
        float:none;   
        padding-bottom: 90px;
        padding-top: 25px;
    }

    .apresentacao-conteudo{
        padding-right: 0px;
    }

    /* botões alinhados para o responsivo */

    nav{
        padding-right: 0px;        
    }

    nav span{
        display: inline !important;
        color: white;
        font-size: 1.8rem;
        padding: 8px 16px;
    }

    nav button{
        float: right;
        padding-right: 40px;
    }

    nav div{
        display: block;
        clear: both;
        margin: auto;
        overflow: hidden;
        text-align: center;
        width: 100%;
    }

    nav ul{
        display: block;
    }

    nav li{
        width: 100%;
        display: block;
        clear: both;
        float: left;
    }

    .onda{
        background-image: none;
        background-color: #30394B;
        position: none;
        margin-top: 0px;
        z-index: none;
    }

    #center{
        display: block;
        margin: auto;
        width: 75%;
    }

    .botao{
        width: 33%;
    }

    #b-1{
        float: left;
        top: -60px;
        left: 0%;
    }

    #b-2{
        float: left;
        top: -60px;
        left: 0%;
    }

    #b-3{
        float: left;
        top: -60px;
        left: 0%;
    }

    #card-1, #card-2, #card-3 {
        background-color: white;
        border-radius: 10px;
        width: 580px;
        height: 390px;
    } 
    
    #cards {
        width: 580px;
    }
    #card-2 {
        margin: 45px 0 0 0;
        font-size: 2rem;
    } 
    #card-2 img {
        width: 180px;
        margin-top: 10px;
    }
    
    #passos-doacao {
        height: 1460px;
    }

    .gotas div{
        padding:0 30px; 
    }  
        
    .gotas div img{
        width:80px; 
    }

    /*############VOCE SABIA############*/
    #curios{
        width:580px;
        height: 669px;
    }
    #div_maior{
        width: 580px;
        height: 563px;
    }
    .vcsabia{
        height: 1120px;
    }
    #caixa-red{
        float: none;
        margin: auto;
        margin-top: 222px;
        
    }
    #curios-conteudo{
        width: 362px;
        margin: auto;
        margin-top: 40px;
    }
    #curios-p{
        text-align: center;
    }
    #curios-conteudo h1{
        text-align: center;
    }
    #faixa-conteudo {
        float: none;
        margin: auto;
        
    }
    .gotas{
        width: 580px;
        height: 179px;
    }
    .gota {
        width: 88px;
    }

    .gotas div:not(:last-child) {
    
        margin-right: 10px;
    }
    .gotas div {
        padding: 0 0px;
    }
}

@media screen and (max-width: 1192px) {
    .video{
        height: 800px;
        background-color: #30394B; 
        clear: both;
        padding-top: 60px
    }
    .video>div{
        width: 80%;
        height: 72%;
        background-color: white;
        margin: auto;
    }
    .central{
        display: block;
        width: 500px;
        border: solid black 1px;
        margin: auto;
        border-radius: 11px;
    }
    
    .central2 {
        height: 565px;
        background-color: white;
        border-radius: 10px;
    }
    
    .video-conteudo {
        width: 356px;
        float: left;
        margin-top: 17px;
        margin-left: 29%;
        border-radius: 10px;
        clear: both;
        overflow: hidden
    }
    
    .video-conteudo h1{
        font-family:GothamLight;
        src: url(../font/Gotham-Bold.otf);
        font-size: 2.6rem;
        text-align: center;
    }
    
    .video-conteudo p{
        font-family:GothamLight;
        src: url(../font/Gotham-Bold.otf);
        font-size: 1.4rem;
        font-weight: bold;
        text-align: center;
    }
    
    .play1{
        width: 500px;
        height: 300px;
        background-color:black;
        margin: auto;
        border-radius: 10px;
        display: block;
        clear: both 
    }
    
    iframe{
        width: 100%;
        height: 100%;
        display: block;
        border: black solid 3px;
        border-radius: 10px;
        margin: auto
    }
    
    .play{
        display: none;
    }
    
    .sublinhado{
        border-top: #FF4040 solid 6px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 112px;
        margin-left: 119px;
    }
}
/*Quiz*/
#quiz {
    width: 705px;
    height: 100%;
    margin: 40px 0px 0px 420px;
    padding: 10px 50px 50px 50px;
    border-radius: 10px;
    background-color:#FF4040;
}
.titulo-quiz {
    background-color: #ffffff;
    font-size: 50px;
    text-align: center;
    color: #30394b;
    padding: 2px 0px;
    border-radius: 50px;
    margin-top: 20px;
    border: 3px solid #30394b;
    font-weight: bolder
}
.pergunta-quiz {
    font-size: 2.3rem;
    color: white;
    margin: auto;
    height: 130px;
    text-align: center;
}
#btn-left {
    float: left;
    margin-left: 50px;
}
#btn-right {
    float: right;
    margin-right: 50px;
}
#btn-left, #btn-right, .btn-hemosc, #btn-cadastrar, .btn-refazer, .btn-hemoscI, .btn-refazerI {
    background-color: #ffffff;
    width: 150px;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #30394b;
    border: 3px solid #30394b;
    border-radius: 50px;
    padding: 10px 10px;
    display: block;
    text-decoration-line: none
}
#btn-left:hover, #btn-right:hover {
    background-color: #30394b;
    color: #ffffff;
}
#btn-left:focus, #btn-right:focus,{
    outline: 0;
}
.btn-hemosc:hover {
    text-decoration: none;
    background-color: #30394b;
    color: #ffffff;
}
.btn-refazer:hover{
    text-decoration: none;
    background-color: #30394b;
    color: #ffffff;
}
.btn-hemosc, .btn-refazer{
    margin-bottom: 20px;
    width: 200px;
    text-align: center;
}
.btn-hemoscI, .btn-refazerI{
    margin-bottom: 20px;
    width: 200px;
    text-align: center;
}
.btn-hemoscI:hover {
    text-decoration: none;
    background-color: #30394b;
    color: #ffffff;
}
.btn-refazerI:hover{
    text-decoration: none;
    background-color: #30394b;
    color: #ffffff;
}
.subtitulo{
    font-size: 1.7rem;
    font-weight: 600;
    text-align: center;
}
.quiz-esquerdo{
    display: block;
    float: left;
    overflow: hidden;
}
.quiz-direito{
    display: block;
    float: right;
    overflow: hidden;
}
.btn-hemosc{
    display: block;
    float: left;
    margin-left: 50px
}
.btn-refazer{
    display: block;
    float: right;
    margin-right: 35px
}
.p-esquerdo{
    display: block;
    text-align: center;
    font-size: 1.2rem;
}
.p-direito{
    display: block;
    text-align: center;
    font-size: 1.2rem;
}
.quiz-esquerdoI{
    display: block;
    float: left;
    overflow: hidden;
    margin-left: 30px
}
.quiz-direitoI{
    display: block;
    float: right;
    overflow: hidden;
    margin-right: 30px
}
.btn-hemoscI{
    display: block;
    float: left;
    margin-left: 0px;
    margin-top: 25px
}
.btn-refazerI{
    display: block;
    float: right;
    margin-right: 10px
}
.p-esquerdoI{
    display: block;
    text-align: center;
    font-size: 1.1rem;
}
.p-direitoI{
    display: block;
    text-align: center;
    font-size: 1.1rem;
}
#azul{
    margin-left: 100px;
}
#baixo a{
    margin-right: 115px;
    padding: auto;
    font-size: 1.8rem;
}
#baixo p{
    margin-left: 120px;
    font-size: 1.8rem;
}
#baixo a:hover{
    display: block;
    float: right;
    overflow: hidden;
    background-color: #30394b;
    margin-right: 100px;
    padding: auto;
    font-size: 2.3rem;
    color: white;
    border-radius: 10px;
}
@media screen and (max-width: 1192px){
    #quiz {
        width: 550px !important;
        height: 100%;
        margin: auto;
        padding: 10px 50px 50px 50px;
        border-radius: 10px;
        background-color:#FF4040;
    }
    .titulo-quiz {
        background-color: #ffffff;
        font-size: 50px;
        text-align: center;
        color: #30394b;
        padding: 2px 0px;
        border-radius: 50px;
        margin-top: 20px;
        border: 3px solid #30394b;
        font-weight: bolder
    }
    
    .pergunta-quiz {
        font-size: 2.3rem;
        color: white;
        margin: auto;
        height: 130px;
        text-align: center;
    }
    #btn-left {
        float: left;
        margin-left: 50px;
    }
    #btn-right {
        float: right;
        margin-right: 50px;
    }
    #btn-left, #btn-right, .btn-hemosc, #btn-cadastrar, .btn-refazer, .btn-hemoscI, .btn-refazerI {
        background-color: #ffffff;
        width: 150px;
        font-size: 1.5rem;
        font-weight: bolder;
        color: #30394b;
        border: 3px solid #30394b;
        border-radius: 50px;
        padding: 10px 10px;
        display: block;
        text-decoration-line: none
    }
    #btn-left:hover, #btn-right:hover {
        background-color: #30394b;
        color: #ffffff;
    }
    #btn-left:focus, #btn-right:focus,{
        outline: 0;
    }
    .btn-hemosc:hover {
        text-decoration: none;
        background-color: #30394b;
        color: #ffffff;
    }
    .btn-refazer:hover{
        text-decoration: none;
        background-color: #30394b;
        color: #ffffff;
    }
    .btn-hemosc, .btn-refazer{
        margin-bottom: 20px;
        width: 200px;
        text-align: center;
    }
    .btn-hemoscI, .btn-refazerI{
        margin-bottom: 20px;
        width: 200px;
        text-align: center;
    }
    .btn-hemoscI:hover {
        text-decoration: none;
        background-color: #30394b;
        color: #ffffff;
    }
    .btn-refazerI:hover{
        text-decoration: none;
        background-color: #30394b;
        color: #ffffff;
    }
    .subtitulo{
        font-size: 1.7rem;
        font-weight: 600;
        text-align: center;
    }
    .quiz-esquerdo{
        display: block;
        float: left;
        overflow: hidden;
    }
    .quiz-direito{
        display: block;
        float: right;
        overflow: hidden;
    }
    .btn-hemosc{
        display: block;
        float: left;
        margin-left: 50px
    }
    .btn-refazer{
        display: block;
        float: right;
        margin-right: 35px
    }
    .p-esquerdo{
        display: block;
        text-align: center;
        font-size: 1.1rem;
    }
    .p-direito{
        display: block;
        text-align: center;
        font-size: 1.1rem;
    }
    .quiz-esquerdoI{
        display: block;
        float: left;
        overflow: hidden;
        margin-left: 30px
    }
    .quiz-direitoI{
        display: block;
        float: right;
        overflow: hidden;
        margin-right: 30px
    }
    .btn-hemoscI{
        display: block;
        float: left;
        margin-left: 0px;
        margin-top: 25px
    }
    .btn-refazerI{
        display: block;
        float: right;
        margin-right: 10px
    }
    .p-esquerdoI{
        display: block;
        text-align: center;
        font-size: 1.1rem;
    }
    .p-direitoI{
        display: block;
        text-align: center;
        font-size: 1.1rem;
    }
    #meio{
        height: 800px;
    }
    #azul{
        width: 83%;
        margin: 5% 9% 13% 9%;
        height: 90%;
    }
    #esquerda{
        float: left;
        width: 100%;
    }
    .texto{
        width: 320px;
        margin: auto;
        text-align: center;
    }
    #primeiro{
        margin-top: 35px;
    }
    #linha{
        width: 130px;
        height: 7px;
        margin: auto;
        margin-bottom: 20px;
        margin-top: 20px
    }
    #quiz{
        width: 85%;
        height: 51.5%;
        margin: 300px auto 0px auto;
    }
    #esquerda h1{
        font-size: 2.8rem;
    }
    #esquerda p{
        font-size: 1.7rem;
    }
    #baixo{
        padding: 1% 0%;
        height: 150px;
    }
    #baixo p{
        font-size: 2.5rem;
        clear: both;
        float: none;
        text-align: center;
        margin: auto;
    }
    #baixo a{
        clear: both;
        float: none;
        width: 65%;
        margin: auto;
        text-align: center;
        padding: 2px 0px 10px 0px;
        font-size: 2.3rem;
        font-weight: bolder
    }
    #baixo a:hover{
        clear: both;
        float: none;
        width: 65%;
        margin: auto;
        text-align: center;
        padding: 2px 0px 10px 0px;
        font-size: 2.3rem;
        font-weight: bolder
    }
}

@media screen and (max-width: 1020px){
    .video-conteudo{
        margin-left: 0;
        width: 100%;
    }
    .video .central{
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 700px){
    #quiz {
        width: 350px !important;
        height: 100%;
        margin: auto;
        padding: 10px 50px 50px 50px;
        border-radius: 10px;
        background-color:#FF4040;
    }
    .titulo-quiz {
        background-color: #ffffff;
        font-size: 2rem;
        text-align: center;
        color: #30394b;
        padding: 2px 0px;
        border-radius: 50px;
        margin-top: 20px;
        border: 3px solid #30394b;
        font-weight: bolder
    }
    .pergunta-quiz {
        font-size: 1.5rem;
        color: white;
        margin: auto;
        height: 130px;
        text-align: center;
    }
    #btn-left {
        float: left;
        margin-left: 0px;
    }
    #btn-right {
        float: right;
        margin-right: 0px;
    }
    #btn-left, #btn-right, .btn-hemosc, #btn-cadastrar, .btn-refazer, .btn-hemoscI, .btn-refazerI {
        background-color: #ffffff;
        width: 100px;
        font-size: 1.5rem;
        font-weight: bolder;
        color: #30394b;
        border: 3px solid #30394b;
        border-radius: 50px;
        padding: 10px 10px;
        display: block;
        text-decoration-line: none
    }
    #btn-left:hover, #btn-right:hover {
        background-color: #30394b;
        color: #ffffff;
    }
    #btn-left:focus, #btn-right:focus,{
        outline: 0;
    }
    .btn-hemosc:hover {
        text-decoration: none;
        background-color: #30394b;
        color: #ffffff;
    }
    .btn-refazer:hover{
        text-decoration: none;
        background-color: #30394b;
        color: #ffffff;
    }
    .btn-hemosc, .btn-refazer{
        margin-bottom: 20px;
        width: 150px;
        text-align: center;
    }
    .btn-hemoscI, .btn-refazerI{
        margin-bottom: 20px;
        width: 160px;
        text-align: center;
    }
    .btn-hemoscI:hover {
        text-decoration: none;
        background-color: #30394b;
        color: #ffffff;
    }
    .btn-refazerI:hover{
        text-decoration: none;
        background-color: #30394b;
        color: #ffffff;
    }
    .subtitulo{
        font-size: 1.5rem;
        font-weight: 400;
        text-align: center;
    }
    .quiz-esquerdo{
        display: block;
        float: none;
        overflow: hidden;
    }
    .quiz-direito{
        display: block;
        float: none;
        overflow: hidden;
    }
    .btn-hemosc{
        display: block;
        float: none;
        margin: auto
    }
    .btn-refazer{
        display: block;
        float: none;
        margin: auto
    }
    .p-esquerdo{
        display: none
    }
    .p-direito{
        display: none
    }
    .quiz-esquerdoI{
        display: block;
        float: none;
        overflow: hidden;
        margin-left: 30px
    }
    .quiz-direitoI{
        display: block;
        float: none;
        overflow: hidden;
        margin-right: 30px
    }
    .btn-hemoscI{
        display: block;
        float: none;
        margin: 0px 15px
    }
    .btn-refazerI{
        display: block;
        float: none;
        margin: 0px 45px
    }
    .p-esquerdoI{
        display: none
    }
    .p-direitoI{
        display: none
    }
    #meio{
        height: 800px;
    }
    #azul{
        width: 83%;
        margin: 5% 9% 13% 9%;
        height: 90%;
    }
    #esquerda{
        float: left;
        width: 100%;
    }
    .texto{
        width: 320px;
        margin: auto;
        text-align: center;
    }
    #primeiro{
        margin-top: 35px;
    }
    #linha{
        width: 130px;
        height: 7px;
        margin: auto;
        margin-bottom: 20px;
        margin-top: 20px
    }
    #quiz{
        width: 85%;
        height: 51.5%;
        margin: 300px auto 0px auto;
    }
    #esquerda h1{
        font-size: 2.8rem;
    }
    #esquerda p{
        font-size: 1.7rem;
    }
    #baixo{
        padding: 1% 0%;
        height: 150px;
    }
    #baixo p{
        font-size: 2.5rem;
        clear: both;
        float: none;
        text-align: center;
        margin: auto;
    }
    #baixo a{
        clear: both;
        float: none;
        width: 65%;
        margin: auto;
        text-align: center;
        padding: 2px 0px 10px 0px;
        font-size: 2.3rem;
        font-weight: bolder
    }
    #baixo a:hover{
        clear: both;
        float: none;
        width: 65%;
        margin: auto;
        text-align: center;
        padding: 2px 0px 10px 0px;
        font-size: 2.3rem;
        font-weight: bolder
    }
}
@media screen and (max-width: 480px){
    #quiz {
        width: 320px !important;
        height: 100%;
        margin: auto;
        padding: 10px 50px 50px 50px;
        border-radius: 10px;
        background-color:#FF4040;
    }
    .titulo-quiz {
        background-color: #ffffff;
        font-size: 1.8rem;
        text-align: center;
        color: #30394b;
        padding: 2px 0px;
        border-radius: 50px;
        margin-top: 20px;
        border: 3px solid #30394b;
        font-weight: bolder
    }
    .pergunta-quiz {
        font-size: 1.5rem;
        color: white;
        margin: auto;
        height: 130px;
        text-align: center;
    }
    #btn-left {
        float: left;
        margin-left: 0px;
    }
    #btn-right {
        float: right;
        margin-right: 0px;
    }
    #btn-left, #btn-right, .btn-hemosc, #btn-cadastrar, .btn-refazer, .btn-hemoscI, .btn-refazerI {
        background-color: #ffffff;
        width: 100px;
        font-size: 1.2rem;
        font-weight: bolder;
        color: #30394b;
        border: 3px solid #30394b;
        border-radius: 50px;
        padding: 10px 10px;
        display: block;
        text-decoration-line: none
    }
    #btn-left:hover, #btn-right:hover {
        background-color: #30394b;
        color: #ffffff;
    }
    #btn-left:focus, #btn-right:focus,{
        outline: 0;
    }
    .btn-hemosc:hover {
        text-decoration: none;
        background-color: #30394b;
        color: #ffffff;
    }
    .btn-refazer:hover{
        text-decoration: none;
        background-color: #30394b;
        color: #ffffff;
    }
    .btn-hemosc, .btn-refazer{
        margin-bottom: 20px;
        width: 150px;
        text-align: center;
    }
    .btn-hemoscI, .btn-refazerI{
        margin-bottom: 20px;
        width: 160px;
        text-align: center;
    }
    .btn-hemoscI:hover {
        text-decoration: none;
        background-color: #30394b;
        color: #ffffff;
    }
    .btn-refazerI:hover{
        text-decoration: none;
        background-color: #30394b;
        color: #ffffff;
    }
    .subtitulo{
        font-size: 1.3rem;
        font-weight: 400;
        text-align: center;
    }
    .quiz-esquerdo{
        display: block;
        float: none;
        overflow: hidden;
    }
    .quiz-direito{
        display: block;
        float: none;
        overflow: hidden;
    }
    .btn-hemosc{
        display: block;
        float: none;
        margin: auto
    }
    .btn-refazer{
        display: block;
        float: none;
        margin: auto
    }
    .p-esquerdo{
        display: none
    }
    .p-direito{
        display: none
    }
    .quiz-esquerdoI{
        display: block;
        float: none;
        overflow: hidden;
        margin-left: 15px
    }
    .quiz-direitoI{
        display: block;
        float: none;
        overflow: hidden;
        margin-right: 15px
    }
    .btn-hemoscI{
        display: block;
        float: none;
        margin: 0px 15px
    }
    .btn-refazerI{
        display: block;
        float: none;
        margin: 0px 30px
    }
    .p-esquerdoI{
        display: none
    }
    .p-direitoI{
        display: none
    }
    #meio{
        height: 800px;
    }
    #azul{
        width: 83%;
        margin: 5% 9% 13% 9%;
        height: 90%;
    }
    #esquerda{
        float: left;
        width: 100%;
    }
    .texto{
        width: 320px;
        margin: auto;
        text-align: center;
    }
    #primeiro{
        margin-top: 35px;
    }
    #linha{
        width: 130px;
        height: 7px;
        margin: auto;
        margin-bottom: 20px;
        margin-top: 20px
    }
    #quiz{
        width: 85%;
        height: 51.5%;
        margin: 300px auto 0px auto;
    }
    #esquerda h1{
        font-size: 2.8rem;
    }
    #esquerda p{
        font-size: 1.7rem;
    }
    #baixo{
        padding: 1% 0%;
        height: 150px;
    }
    #baixo p{
        font-size: 2.5rem;
        clear: both;
        float: none;
        text-align: center;
        margin: auto;
    }
    #baixo a{
        clear: both;
        float: none;
        width: 65%;
        margin: auto;
        text-align: center;
        padding: 2px 0px 10px 0px;
        font-size: 2.3rem;
        font-weight: bolder
    }
    #baixo a:hover{
        clear: both;
        float: none;
        width: 65%;
        margin: auto;
        text-align: center;
        padding: 2px 0px 10px 0px;
        font-size: 2.3rem;
        font-weight: bolder
    }
}
@media screen and (max-width: 420px){
    #quiz {
        width: 280px !important;
        height: 55% !important;
        margin: auto;
        padding: 10px 50px 50px 50px;
        border-radius: 10px;
        background-color:#FF4040;
    }
    .titulo-quiz {
        background-color: #ffffff;
        font-size: 1.5rem;
        text-align: center;
        color: #30394b;
        padding: 2px 0px;
        border-radius: 50px;
        margin-top: 20px;
        border: 3px solid #30394b;
        font-weight: bolder
    }
    .pergunta-quiz {
        font-size: 1.4rem;
        color: white;
        margin: auto;
        height: 130px;
        text-align: center;
    }
    #btn-left {
        float: left;
        margin-left: 0px;
    }
    #btn-right {
        float: right;
        margin-right: 0px;
    }
    #btn-left, #btn-right, .btn-hemosc, #btn-cadastrar, .btn-refazer, .btn-hemoscI, .btn-refazerI {
        background-color: #ffffff;
        width: 70px;
        font-size: 1.1rem;
        font-weight: bolder;
        color: #30394b;
        border: 3px solid #30394b;
        border-radius: 50px;
        padding: 5px 10px;
        display: block;
        text-decoration-line: none
    }
    #btn-left:hover, #btn-right:hover {
        background-color: #30394b;
        color: #ffffff;
    }
    #btn-left:focus, #btn-right:focus,{
        outline: 0;
    }
    .btn-hemosc:hover {
        text-decoration: none;
        background-color: #30394b;
        color: #ffffff;
    }
    .btn-refazer:hover{
        text-decoration: none;
        background-color: #30394b;
        color: #ffffff;
    }
    .btn-hemosc, .btn-refazer{
        margin-bottom: 20px;
        width: 150px;
        text-align: center;
    }
    .btn-hemoscI, .btn-refazerI{
        margin-bottom: 20px;
        width: 160px;
        text-align: center;
    }
    .btn-hemoscI:hover {
        text-decoration: none;
        background-color: #30394b;
        color: #ffffff;
    }
    .btn-refazerI:hover{
        text-decoration: none;
        background-color: #30394b;
        color: #ffffff;
    }
    .subtitulo{
        font-size: 1.3rem;
        font-weight: 400;
        text-align: center;
    }
    .quiz-esquerdo{
        display: block;
        float: none;
        overflow: hidden;
    }
    .quiz-direito{
        display: block;
        float: none;
        overflow: hidden;
    }
    .btn-hemosc{
        display: block;
        float: none;
        margin: auto
    }
    .btn-refazer{
        display: block;
        float: none;
        margin: auto
    }
    .p-esquerdo{
        display: none
    }
    .p-direito{
        display: none
    }
    .quiz-esquerdoI{
        display: block;
        float: none;
        overflow: hidden;
        margin: 0px 0px
    }
    .quiz-direitoI{
        display: block;
        float: none;
        overflow: hidden;
        margin: 0px 0px
    }
    .btn-hemoscI{
        display: block;
        float: none;
        margin: 0px 5px
    }
    .btn-refazerI{
        display: block;
        float: none;
        margin: 0px 5px
    }
    .p-esquerdoI{
        display: none
    }
    .p-direitoI{
        display: none
    }
    #meio{
        height: 800px;
    }
    #azul{
        width: 83%;
        margin: 5% 9% 13% 9%;
        height: 90%;
    }
    #esquerda{
        float: left;
        width: 100%;
    }
    .texto{
        width: 320px;
        margin: auto;
        text-align: center;
    }
    #primeiro{
        margin-top: 35px;
    }
    #linha{
        width: 130px;
        height: 7px;
        margin: auto;
        margin-bottom: 20px;
        margin-top: 20px
    }
    #esquerda h1{
        font-size: 2.8rem;
    }
    #esquerda p{
        font-size: 1.7rem;
    }
    #baixo{
        padding: 1% 0%;
        height: 150px;
    }
    #baixo p{
        font-size: 2.5rem;
        clear: both;
        float: none;
        text-align: center;
        margin: auto;
    }
    #baixo a{
        clear: both;
        float: none;
        width: 65%;
        margin: auto;
        text-align: center;
        padding: 2px 0px 10px 0px;
        font-size: 2.3rem;
        font-weight: bolder
    }
    #baixo a:hover{
        clear: both;
        float: none;
        width: 65%;
        margin: auto;
        text-align: center;
        padding: 2px 0px 10px 0px;
        font-size: 2.3rem;
        font-weight: bolder
    }
}
@media screen and (max-width: 392px){
    #quiz {
        width: 260px !important;
        height: 55% !important;
        margin: 230px auto 0px 20px !important;
        padding: 10px 50px 50px 50px;
        border-radius: 10px;
        background-color:#FF4040;
    }
    .titulo-quiz {
        background-color: #ffffff;
        font-size: 1.3rem;
        text-align: center;
        color: #30394b;
        padding: 2px 0px;
        border-radius: 50px;
        margin-top: 10px;
        border: 3px solid #30394b;
        font-weight: bolder
    }
    .pergunta-quiz {
        font-size: 1.1rem;
        color: white;
        margin: auto;
        height: 80px;
        text-align: center;
    }
    #btn-left {
        float: left;
        margin-left: 0px;
    }
    #btn-right {
        float: right;
        margin-right: 0px;
    }
    #btn-left, #btn-right, .btn-hemosc, #btn-cadastrar, .btn-refazer, .btn-hemoscI, .btn-refazerI {
        background-color: #ffffff;
        width: 70px;
        font-size: 1.1rem;
        font-weight: bolder;
        color: #30394b;
        border: 3px solid #30394b;
        border-radius: 50px;
        padding: 0px 10px;
        display: block;
        text-decoration-line: none
    }
    #btn-left:hover, #btn-right:hover {
        background-color: #30394b;
        color: #ffffff;
    }
    #btn-left:focus, #btn-right:focus,{
        outline: 0;
    }
    .btn-hemosc:hover {
        text-decoration: none;
        background-color: #30394b;
        color: #ffffff;
    }
    .btn-refazer:hover{
        text-decoration: none;
        background-color: #30394b;
        color: #ffffff;
    }
    .btn-hemosc, .btn-refazer{
        margin-bottom: 20px;
        width: 140px;
        text-align: center;
    }
    .btn-hemoscI, .btn-refazerI{
        margin-bottom: 20px;
        width: 140px;;
        text-align: center;
    }
    .btn-hemoscI:hover {
        text-decoration: none;
        background-color: #30394b;
        color: #ffffff;
    }
    .btn-refazerI:hover{
        text-decoration: none;
        background-color: #30394b;
        color: #ffffff;
    }
    .subtitulo{
        font-size: 1.1rem;
        font-weight: 400;
        text-align: center;
    }
    .quiz-esquerdo{
        display: block;
        float: none;
        overflow: hidden;
    }
    .quiz-direito{
        display: block;
        float: none;
        overflow: hidden;
    }
    .btn-hemosc{
        display: block;
        float: none;
        margin: auto
    }
    .btn-refazer{
        display: block;
        float: none;
        margin: auto
    }
    .p-esquerdo{
        display: none
    }
    .p-direito{
        display: none
    }
    .quiz-esquerdoI{
        display: block;
        float: none;
        overflow: hidden;
        margin: 0px 0px
    }
    .quiz-direitoI{
        display: block;
        float: none;
        overflow: hidden;
        margin: 0px 0px
    }
    .btn-hemoscI{
        display: block;
        float: none;
        margin: 0px 5px
    }
    .btn-refazerI{
        display: block;
        float: none;
        margin: 0px 5px
    }
    .p-esquerdoI{
        display: none
    }
    .p-direitoI{
        display: none
    }
    #meio{
        height: 800px;
    }
    #azul{
        width: 83%;
        margin: 5% 9% 13% 9%;
        height: 90%;
    }
    #esquerda{
        float: left;
        width: 100%;
        margin-left: 5px
    }
    .texto{
        width: 320px;
        margin: auto;
        text-align: center;
    }
    #primeiro{
        margin-top: 35px;
    }
    #linha{
        width: 130px;
        height: 7px;
        margin: auto;
        margin-bottom: 20px;
        margin-top: 20px
    }
    #esquerda h1{
        font-size: 2.8rem;
    }
    #esquerda p{
        font-size: 1.7rem;
    }
    #baixo{
        padding: 1% 0%;
        height: 150px;
    }
    #baixo p{
        font-size: 2.5rem;
        clear: both;
        float: none;
        text-align: center;
        margin: auto;
    }
    #baixo a{
        clear: both;
        float: none;
        width: 65%;
        margin: auto;
        text-align: center;
        padding: 2px 0px 10px 0px;
        font-size: 2.3rem;
        font-weight: bolder
    }
    #baixo a:hover{
        clear: both;
        float: none;
        width: 65%;
        margin: auto;
        text-align: center;
        padding: 2px 0px 10px 0px;
        font-size: 2.3rem;
        font-weight: bolder
    }
}
@media screen and (max-width:600px){

    .play1{
        width: 98%;
    }

    #div_maior{
        width: 98%;
    }

    #curios{
        width: 97%;
    }

    .gotas{
        width: 100%;
        overflow: scroll;
    }

    #div-intermediaria-gotas{
        width: 600px;
    }
    
    .gotas div:last-child{
        float: left;
    }

    #caixa-red{
        width: 95%;
    }

    nav img {
        width: 60%;
        padding-top: 3%;
    }

    nav button{
        padding-top: 3% !important;
    }

    .apresentacao p {
        font-size: 1.5rem;
        padding-right: 20px;
        padding-left: 20px;
    }

    .botao-p{
        display: block !important;
        text-align: center !important;
        font-size: 1rem !important;
    }

    #center{
        width: 100%;
    }

    .botao a{
        width: 100px;
        height: 100px;
    }

    small{
        font-size: 1.5rem !important;
    }

    #b-1{
        top: -45px;
    }

    #b-2{
        top: -45px;
    }

    #b-3{
        top: -45px;
    }

    #card-1, #card-2, #card-3 {   
        width: 300px;
        height: 510px;
    }
    #cards {
        width: 300px;
    }
    #passos-doacao {
        height: 1880px;
    }
}

@media screen and (max-width: 551px){
    .texto{
        width: 320px;
        margin: 0px 0px 0px 20px;
        text-align: center;
    }
    #linha{
        width: 130px;
        height: 7px;
        margin: 15px 0px 15px 115px;
    }
    #baixo p{
        font-size: 2.2rem;
    }
    #baixo a{
        font-size: 2rem;
    }
    #baixo a:hover{
        font-size: 2rem;
    }
}

@media screen and (max-width: 480px){
    #meio{
        height: 700px;
    }
    #azul{
        height: 90%;
        padding: 0% 5% 15% 0%
    }
    #esquerda{
        padding-left: 0px;
    }
    .texto{
        width: 320px;
        margin: 0px 0px 0px 40px;
    }
    #linha{
        width: 130px;
        height: 7px;
        margin: 15px 0px 15px 135px;
    }
    #quiz{
        width: 90%;
        height: 60%;
        margin: 260px 40px 0px 31.5px;
    }
    #esquerda h1{
        font-size: 2.4rem;
    }
    #esquerda p{
        font-size: 1.5rem;
    }
    #baixo p{
        font-size: 2rem;
        margin-left: 0%;
    }
    #baixo a{
        margin: 0px 100px 30px 85px;
        font-size: 2rem;
    }
    #baixo a:hover{
        margin: 0px 100px 30px 110px;
        font-size: 2rem;
    }
}

@media screen and (max-width: 435px){
    .texto{
        width: 320px;
        margin: 0px 0px 0px 18px;
    }
    #linha{
        width: 110px;
        height: 7px;
        margin: 15px 0px 15px 123px;
    }
    #baixo p{
        font-size: 1.8rem;
        margin-left: 0%;
    }
    #baixo a{
        margin: 0px 100px 30px 85px;
        font-size: 1.8rem;
    }
    #baixo a:hover{
        margin: 0px 100px 30px 110px;
        font-size: 1.8rem;
    }
    #baixo{
        height: 110px;
    }
}

@media screen and (max-width:400px){
    
    #b-1{
        top: -35px;
    }

    #b-2{
        top: -35px;
    }

    #b-3{
        top: -35px;
    }

    .botao a{
        width: 70px;
        height: 70px;
    }

}

@media screen and (max-width: 392px){
    #meio{
        height: 550px;
    }
    #azul{
        margin: 5% 9% 13% 9%;
    }
    #esquerda{
        padding-left: 0px;
    }
    .texto{
        margin: 0px 0px 0px 0px;
    }
    #primeiro{
        margin-top: 25px;
    }
    #linha{
        width: 110px;
        height: 7px;
        margin: 15px 0px 15px 105px;
    }
    #quiz{
        width: 85%;
        height: 53%;
        margin: 230px 40px 0px 32px;
    }
    #esquerda h1{
        font-size: 2rem;
    }
    #esquerda p{
        font-size: 1.5rem;
    }
    #baixo p{
        font-size: 1.6rem;
        margin-left: 0%;
    }
    #baixo a{
        margin: 0px 100px 30px 70px;
        font-size: 1.6rem;
    }
    #baixo a:hover{
        margin: 0px 100px 30px 70px;
        font-size: 1.6rem;
    }
    .texto{
        margin: 0px 0px 0px 0px;
        width: 295px;
    }
    #linha{
        width: 100px;
        height: 6px;
        margin: 15px 0px 15px 97px;
    }
    #baixo p{
        font-size: 1.5rem;
    }
    #baixo a{
        font-size: 1.5rem;
    }
    #baixo a:hover{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 377px){

    .video{
        height: 400px;
        background-color: #30394b; 
        width: 105%;
    }
    
    .video>div{
        width: 80%;
        height: 88%;
        background-color: white;
        margin: auto;
    }
    
    .central{
        display: block;
        width: 88%;
        height: 90%;
        border: solid black 1px;
        margin: auto;
        border-radius: 11px;
    }
    
    .central2 {
        height: 100%;
        background-color: white;
        border-radius: 10px;
    }
    
    .video-conteudo {
        width: 100%;
        height: 58%;
        float: left;
        margin-top: 9px;
        margin-left: 0px;
        border-radius: 10px;
        clear: both;
        overflow: hidden
    }
    
    .video-conteudo h1{
        font-family:GothamLight;
        src: url(../font/Gotham-Bold.otf);
        font-size: 1.6rem;
        text-align: center;
    }
        
    .video-conteudo p{
        font-family:GothamLight;
        src: url(../font/Gotham-Bold.otf);
        font-size: 1rem;
        font-weight: bold;
        text-align: center;       
    }
        
    .play1{
        width: 62%;
        height: 35%;
        background-color: black;
        margin: auto;
        border-radius: 10px;
        display: block;
        clear: both;  
    }
    
    iframe{
        width: 100%;
        height: 100%;
        display: block;
        border: black solid 3px;
        border-radius: 10px;
        margin: auto
    }
    
    .play{
        display: none;
    }
    
    .sublinhado{
        border-top: #FF4040 solid 6px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 112px;
        margin-left: 119px;
    }

}

@media screen and (max-width: 360px){
    #curios-conteudo{
        width: 100%;
    }
}

