@font-face {
    font-family:GothamLight;
    src: url(../font/GothamLight.ttf);
}


body {
    background-color: #FF4040;
}

nav {
    padding-top: 20px;
    padding-right: 40px;

}
nav img{
    width: 400px;
    float: left;
    margin-left: 40px;
}
.nav-link{
    font-size: 1.8rem;
    color: white;
    
}

.nav {
    padding-top: 20px;
}

.nav-link:hover{
    background-color: #9b1111;
    color:white;
    border-radius: 10px;
}
.font-weight-extrabold{
    font-weight: bolder
}
.apresentacao p{
    color: white;
    font-size: 2.2rem;
    display: block;
    float: right;
    text-align: right;
    padding-top: 70px;
    font-family: GothamLight
}

.apresentacao img{
    width: 355px;
}
.onda{
    background-image: url(../img/onda.png);
    height: 315px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: -240px;
}

.apresentacao-conteudo {
    padding-right: 50px;
}
.apresentacao-conteudo img{
    margin: 65px 0 0 50px;
}
.video{
    height: 400px;
    background-color: #30394b;
}
.video>div{
    width: 80%;
    background-color: white;
    margin: auto;
}

.play{
    width: 600px;
    height: 400px;
    background-color: #FF4040;
}
.vcsabia{
    display: block;
    background-color: #30394b;
    margin-top:300px;
   overflow: hidden;
   height: 500px;
   padding: 0 50px;
}
#h1{
    display: block;
    width: 230px;
   margin:auto;
   margin-top:16px;
  

   

}
#h1 h1 {
display:block;
margin:auto;
 width:216px;
 color:white;
}
#line{
    height: 5px;
    width: 108px;
    margin:10px auto 10px auto;
    
    display: block;
   
    background-color:#FF4040; 
}
.gotas li{
    display: block;
    float:left;
    overflow: hidden;
    padding: 0 62px;

    
}
.gotas li img{
    width:95px; 
}
 .gotas {
    
     overflow: hidden;
     width:1320px;
     margin:auto;
     border: solid 1px
 }
.gotas ul{

overflow: hidden;
padding: 0;
margin:auto;
border: solid 1px

}
#curios{
    display:block;
    width:908px;
    background-color: white;
    height: 200px;
    border-radius: 8px;
    padding:40px 0px 0px 20px;
    margin:25px 0px 0px  50px; 
   
}