@font-face {
    font-family:GothamLight;
    src: url(../font/GothamLight.ttf);
}
*{
    font-family:GothamLight;
}

body {
    background-color: #FF4040;
}

nav {
    padding-top: 20px;
    padding-right: 40px;

}
nav img{
    width: 200px;
    float: left;
    margin-left: 40px;
}
.nav-link{
    font-size: 1.8rem;
    color: white;
    
}

.nav {
    padding-top: 20px;
}

.nav-link:hover{
    background-color: #9b1111;
    color:white;
    border-radius: 10px;
}
.font-weight-extrabold{
    font-weight: bolder
}
.apresentacao p{
    color: white;
    font-size: 2.2rem;
    display: block;
    float: right;
    text-align: right;
    padding-top: 70px;
    font-family: GothamLight
}

.apresentacao img{
    width: 150px;
}
.onda{
    background-image: url(../img/onda.png);
    height: 315px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: -240px;
}

.apresentacao-conteudo {
    padding-right: 50px;
}
.apresentacao-conteudo img{
    margin: 65px 0 0 50px;
}
.video{
    height: 400px;
    background-color: #30394b;
}
.video>div{
    width: 80%;
    background-color: white;
    margin: auto;
}

.play{
    width:100px;
    height: 400px;
    background-color: #FF4040;
}
.vcsabia{
    display: block;
    background-color: #30394b;
    margin-top:300px;
   overflow: hidden;
   height: 800px;
   
}
#h1{
   display: block;
   width: 248px;
   margin:auto;
   margin-top:45px;
}
#h1 h1 {
    font-size: 3.5 rem;
    color: white;
    text-align: center;
}
.faixa{
    height: 6px;
    width: 140px;
    margin:10px auto 10px auto;
    display: block;
    background-color:#FF4040;
     
}
.gotas div{
    display: block;
    float:left;
    overflow: hidden;
    
    

    
}
.gotas div:nth-child(2), .gotas div:nth-child(4){
    padding: 0 41px;
}
.gotas div:nth-child(5){
    padding-right: 41px;
}
*{
    border:solid 1px white;
}
.gotas div img{
    width:153px; 
}
 .gotas {
    
     overflow: hidden;
     width:1230px;
     margin:auto;
     margin-top:20px;
    
 }

#curios{
    display:block;
    width:1079px;
    background-color: white;
    height: 350px;
    border-radius: 8px;
    padding:60px 0px 0px 40px;
    float: left;
    
   
}
.A{
    float: left;
}
#curios p{
    clear: both;
    margin-top: 50px;
}
#caixa-red {
    width: 500px;
    height: 339px;
    background-color: #FF4040;
    border-radius: 8px;
    display: block;
    float: right;
    margin-top: -171px;
    margin-right: -56px;

}
#div_maior {
    overflow: hidden;
    display: block;
    margin: auto;
    width: 1139px;
    margin-top: 50px;
    height: 395px;
}
@media screen and (max-width: 1210px){
   
        
    .gotas div{
        padding:0 30px; 
    }  
        
    }
    .gotas div img{
        width:80px; 
    }

}
@media screen and (max-width: 950px){
    .gotas div img{
        width:px; 
    }
    .gotas div{
        padding: 
    }  
}