body {
    font-family: GothamLight, Arial, Helvetica, sans-serif;
    background-color: #FF4040;
    margin: 0;
    padding: 0;
}

.line {
    background-color: #FF4040;
    display: block;
    width: 150px;
    height: 6px;
    margin: 10px 0;
}

main {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 100vh;
}

header nav {
    height: 12vh;
    width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header nav img {
    max-height: 8vh;
}

.nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: center;
}

.nav li {
    height: 4vh;
}

.nav li:first-child a {
    border-left: #cccccc 1px solid;
}

.nav li a {
    padding: 2vh;
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: 2rem;
    border-right: #cccccc 1px solid;
}

.nav li a:hover {
    background-color: rgb(255, 41, 41);
}
.header-text {
    position: relative;
    top: 15vh;
    padding-right: 5vw;
    color: white;
    font-size: 2.2rem;
    display: block;
    float: right;
    text-align: right;
    line-height: 2.5rem;
}

.font-bold {
    font-weight: 500;
}

#boneco {
    max-height: 65vh;
    position: absolute;
    top: 20vh;
    left: 5vw;
}

.onda-svg {
    overflow: visible;
    width: 100%;
    position: absolute;
    top: 60vh;
}

.onda {
    position: absolute;
    top: 62.5vh;
    left: 55vw;
    width: 40vw;
    height: 20vh;
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
}

.onda .onda-btn:first-child {
    margin-top: -4vh;
}

.onda-btn {
    width: 10vw;
    color: white;
    text-align: center;
}

.onda .onda-btn:last-child {
    margin-top: 2vh;
}

.onda-btn a {
    display: block;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background-color: #3c485b;
}

.onda-btn img {
    padding-top: 2.5vw;
    max-height: 5vw;
    margin: auto;
}

.onda-btn p {
    font-weight: 400;
    font-size: 1.6rem;
}

#video {
    height: 100vh;
    background-color: #30394b;
}

iframe {
    z-index: 1;
    width: 50vw;
    height: 60vh;
    margin-top: 15vh;
    margin-left: 5vw;
    display: block;
    border-radius: 10px;
}

#video h1 {
    font-weight: 500;
    font-size: 2.6rem;
}

#video p {
    font-weight: 400;
    font-size: 2rem;
}

#video > div {
    display: block;
    float: right;
    width: 80vw;
    height: 60vh;
    margin-top: -50vh;
    margin-right: 5vw;
    border-radius: 10px;
    background-color: white;
}

.video-text {
    margin-left: 45vw;
    width: 30vw;
}

#quiz {
    width: 100%;
    height: 100vh;
    background-color: #FF4040;
    display: flex;
    flex-direction: column;
}

#quiz h1 {
    font-weight: 500;
    font-size: 2.6rem;
}

.quiz-text p {
    float: right;
    clear: both;
    height: 10vh;
    font-weight: 400;
    font-size: 2rem;
    color: white;
}

.quiz-main > div {
    display: block;
    width: 80vw;
    height: 60vh;
    margin-top: 9vh;
    margin-left: 5vw;
    border-radius: 10px;
    background-color: #30394b;
}

#quiz-form {
    z-index: 1;
    display: block;
    float: right;
    width: 50vw;
    height: 60vh;
    margin-top: -50vh;
    margin-right: 5vw;
    border-radius: 10px;
    background-color: #FF4040;
}

.quiz-text {
    color: white;
    margin-right: 43vw;
    text-align: right;
    float: right;
    padding: 5vh;
    width: 30vw;
}

.quiz-text .line {
    float: right;
}

.quiz-main {
    height: 88vh;
    background-color: white;
}

.quiz-footer {
    height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5vw;
    align-content: center;
    width: 90vw;
}

.quiz-footer p {
    padding-top: 3.5vh;
    height: 8vh;
    margin: 0;
    font-weight: 400;
    font-size: 2rem;
    color: white;
}

.quiz-footer a {
    margin-top: 2vh;
    padding: 2vh;
    height: 4vh;
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: 2rem;
    border-radius: 10px;
    background-color: #30394b;
}

#curiosidade {
    width: 100%;
    height: 100vh;
    background-color: blue;
}

#doacao {
    width: 100%;
    height: 100vh;
    background-color: #30394b;
    text-align: center;
}

#doacao h1 {
    color: white;
    font-weight: 500;
    font-size: 2.8rem;
}

#doacao span { 
    margin: 5vh auto;
}

.cards {
    width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    width: 25vw;
    height: 65vh;
    padding: 3vh;
    border-radius: 10px;
    background-color: white;
    font-weight: 400;
    font-size: 1.8rem;
}

.card :first-child {
    font-weight: 500;
    font-size: 2rem;
    height: 8vh;
}

.card img {
    display: block;
    margin: auto;
    max-height: 25vh;
}

footer {
    width: 100%;
    height: 100vh;
}

footer div:first-child {
    background-image: url("../img/logo_fundo.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 110%;
    height: 90vh;
}

footer img {
    display: block;
    height: 70vh;
    margin: auto;
    padding: 10vh 0;
}

footer div:last-child {
    height: 10vh;
    display: flex;
    justify-items: center;
    align-items: center;
}

footer small {
    color: white;
    text-align: center;
    width: 100%;
    font-size: 2rem;
}